<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administration</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="dist/css/customStyle.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="rest-client" ng-controller="UserController as ctrl">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>T</b>Mgr</span>
            <span class="logo-lg"><b>Task</b>Manager</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{ctrl.cstantPicture}}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ctrl.currentUser.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img ng-src="{{ctrl.cstantPicture}}" class="img-circle" alt="User Image">

                                <p>
                                    {{ctrl.currentUser.username}}
                                    <!--<small>{{user.companyId}}</small>-->
                                    <!--</p>-->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a ng-href="{{ctrl.appURL + 'logout'}}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search by Username..."
                           ng-model="activeUser">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Dashboard</li>

                <li><a href="nodes.html"><i class="glyphicon glyphicon-asterisk"></i> <span>Nodes</span></a></li>
                <li><a href="packages.html"><i class="glyphicon glyphicon-gift"></i> <span>Packages</span></a></li>
                <li><a href="tasks.html"><i class="glyphicon glyphicon-tasks"></i> <span>Tasks</span></a></li>

                <li class="header">Administration</li>
                <li class="active"><a href="admin.html"><i class="glyphicon glyphicon-user"></i><span>Users</span></a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li ng-controller="HashController as hashCtrl" ng-show="ctrl.isSuperAdmin">
                    <button class="col-sm-offset-2 btn btn-danger col-sm-8" ng-click="hashCtrl.getHash()">Generate
                        Link
                    </button>
                    <p><input class="col-sm-offset-1 col-sm-10" ng-model="hashCtrl.hash.hach"/></p>

                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>USERS</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Administration</a></li>
                <li class="active">Users</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Users Data</h3>
                        </div>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Company ID</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th ng-show="ctrl.isSuperAdmin">Manager</th>
                                    <th>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                                data-target="#addModal" ng-click="ctrl.setAddMode()"><i
                                                class="glyphicon glyphicon-plus"></i> New
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in ctrl.users | usersByUsername:activeUser">
                                    <td ng-bind="user.username"></td>
                                    <td ng-bind="user.firstname"></td>
                                    <td ng-bind="user.lastname"></td>
                                    <td ng-bind="user.companyId"></td>
                                    <td ng-bind="user.phone"></td>
                                    <td ng-bind="user.address"></td>
                                    <td ng-bind="user.email"></td>
                                    <td ng-bind="user.role"></td>
                                    <td ng-show="ctrl.isSuperAdmin" ng-bind="user.manager"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-pencil" ng-click="ctrl.populateModal(user)"
                                                data-target="#addModal" data-toggle="modal"></i></button>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-remove"
                                                ng-click="ctrl.deleteUser(user.username)"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<footer class="main-footer">

    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
</footer>

<!-- Add/Update User Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><strong>User Information</strong></h4>

                <form name="form1" class="form-horizontal col-sm-6 mod_form">
                    <br>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="col-sm-3 control-label">Username</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="user" id="inputName"
                                   ng-model="ctrl.user.username"
                                   ng-disabled="updateMode === 1" required>
                            <span style="color:red">
                                <span ng-show="form1.user.$error.required">Username is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputFirstname" class="col-sm-3 control-label">Firstname</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputFirstname" ng-model="ctrl.user.firstname">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputLastname" class="col-sm-3 control-label">Lastname</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputLastname" ng-model="ctrl.user.lastname">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="password" id="inputPassword"
                                   ng-model="ctrl.newPassword">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">Role</label>

                        <div class="col-sm-8">
                            <select ng-model="ctrl.user.role" name="roles" ng-options="role for role in ctrl.roles"
                                    required>
                            </select>
                            <span style="color:red">
                                <span ng-show="form1.roles.$error.required">Role is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" ng-show="ctrl.isSuperAdmin && ctrl.isNormalUserOp">
                        <label for="inputManager" class="col-sm-3 control-label">Manager</label>

                        <div class="col-sm-8">
                            <select ng-model="ctrl.user.manager" name="manager" id="inputManager"
                                    ng-options="user.username for user in ctrl.admins" required>
                            </select>
                            <br>
                            <span style="color:red">
                                <span ng-show="form1.manager.$error.required">Manager is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputPhone" ng-model="ctrl.user.phone">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputCompany" class="col-sm-3 control-label">CompanyID</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputCompany" ng-model="ctrl.user.companyId">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="email" name="email" id="inputEmail"
                                   ng-model="ctrl.user.email">
                            <span style="color:red" ng-show="form1.email.$dirty && form1.email.$invalid">
                                <span ng-show="form1.email.$error.email">Invalid email address.</span>
                            </span>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal col-sm-6 mod_form">
                    <br>

                    <div class="form-group form-group-sm pull-left">
                        <label for="inputAddress" class="col-sm-3 control-label">Address</label>

                        <div class="col-sm-9">
                            <textarea class="form-control" type="text" id="inputAddress"
                                      ng-model="ctrl.user.address"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" style="clear:both">
                        <label class="col-sm-3 control-label">Picture</label>

                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                             accept="'image/*'"
                             ngf-pattern="'image/*'">Drop image here or click to upload
                        </div>
                        <div ngf-no-file-drop>Picture Drag/Drop is not supported for this browser</div>
                        <ul style="list-style:none;font:smaller">
                            <li style="font:smaller">{{file.name}}</li>
                        </ul>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-sm-offset-5" data-dismiss="modal"
                            ng-click="ctrl.reset();">Cancel
                    </button>
                    <button type="button" class="btn btn-primary col-sm-offset-10" data-dismiss="modal"
                            ng-click="ctrl.submit(ctrl.user, updateMode)" ng-disabled="form1.user.$error.required ||
                            form1.email.$invalid || form1.roles.$error.required ||
                            (ctrl.isSuperAdmin && ctrl.isNormalUserOp && form1.manager.$error.required)">SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="dist/js/app.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="dist/js/modules/rest-client.js"></script>
<script src="plugins/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="plugins/ng-file-upload.min.js"></script>
<script src="dist/js/modules/login.js"></script>
<script src="dist/js/services/users_service.js"></script>
<script src="dist/js/services/hashs_service.js"></script>
<script src="dist/js/services/common_service.js"></script>
<script src="dist/js/modules/users.js"></script>
<script src="dist/js/modules/hashs.js"></script>
<script src="dist/js/filters/usersByUsername.js"></script>
<script src="dist/js/filters/objectsById.js"></script>

</body>
</html>
