<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>products</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="dist/css/customStyle.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="rest-client" ng-controller="UserController as userCtrl">
<div class="wrapper" ng-controller="NodeController as ctrl">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>T</b>Mgr</span>
            <span class="logo-lg"><b>Task</b>Manager</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Node Account: style can be found in dropdown.less -->
                    <li class="dropdown node user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{userCtrl.cstantPicture}}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{userCtrl.currentUser.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Node image -->
                            <li class="user-header">
                                <img ng-src="{{userCtrl.cstantPicture}}" class="img-circle" alt="User Image">

                                <p>
                                    {{userCtrl.currentUser.username}}
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Dashboard</li>

                <li class="active"><a href="nodes.html"><i class="glyphicon glyphicon-asterisk"></i> <span>Nodes</span></a>
                </li>
                <li><a href="packages.html"><i class="glyphicon glyphicon-gift"></i> <span>Packages</span></a></li>
                <li><a href="tasks.html"><i class="glyphicon glyphicon-tasks"></i> <span>Tasks</span></a></li>

                <li class="header">Administration</li>
                <li><a href="admin.html"><i class="glyphicon glyphicon-user"></i><span>Users</span></a></li>
                <!--<li class="treeview">
                  <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                  </ul>
                </li>-->
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>USERS</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Administration</a></li>
                <li class="active">nodes</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Nodes Data</h3>
                        </div>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Notes</th>
                                    <th>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                                data-target="#addModal" ng-click="ctrl.setAddMode()"><i
                                                class="glyphicon glyphicon-plus"></i> New
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="node in ctrl.nodes">
                                    <td ng-bind="node.id"></td>
                                    <td ng-bind="node.time | date:'MM/dd/yyyy'"></td>
                                    <td ng-bind="node.time | date:'HH:mm'"></td>
                                    <td ng-bind="node.email"></td>
                                    <td ng-bind="node.contact"></td>
                                    <td ng-bind="node.address"></td>
                                    <td ng-bind="node.notes"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-pencil" ng-click="ctrl.populateModal(node)"
                                                data-target="#addModal" data-toggle="modal"></i></button>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-remove"
                                                ng-click="ctrl.deleteNode(node.id)"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Add/Update Node Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4><strong>Node Information</strong></h4>

                    <form class="form-horizontal col-sm-12 mod_form">
                        <br>
                        <div class="form-group form-group-sm">
                            <label for="inputTime" class="col-sm-3 control-label">Time</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="datetime-local" id="inputTime"
                                       ng-model="ctrl.node.time">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputDate" class="col-sm-3 control-label">Date</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="date" id="inputDate"
                                       ng-model="ctrl.date">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputPhone" class="col-sm-3 control-label">Contact</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="inputPhone" ng-model="ctrl.node.contact">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputCompany" class="col-sm-3 control-label">Notes</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" type="text" id="inputCompany" ng-model="ctrl.node.notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputAddress" class="col-sm-3 control-label">Address</label>

                            <div class="col-sm-8">
                            <textarea class="form-control" type="text" id="inputAddress"
                                      ng-model="ctrl.node.address"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-8">
                                <input class="form-control" type="email" id="inputEmail" ng-model="ctrl.node.email">
                            </div>
                        </div>


                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default col-sm-offset-5" data-dismiss="modal"
                                ng-click="ctrl.reset();">Cancel
                        </button>
                        <button type="button" class="btn btn-primary col-sm-offset-10" data-dismiss="modal"
                                ng-click="ctrl.submit(ctrl.node, updateMode)">SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="main-footer">

    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
</footer>


<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="dist/js/app.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="dist/js/modules/rest-client.js"></script>
<script src="plugins/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="plugins/ng-file-upload.min.js"></script>
<script src="dist/js/modules/login.js"></script>
<script src="dist/js/services/nodes_service.js"></script>
<script src="dist/js/services/users_service.js"></script>
<script src="dist/js/modules/users.js"></script>
<script src="dist/js/modules/nodes.js"></script>
<script src="dist/js/modules/rooms.js"></script>
<script src="dist/js/filters/roomsByDomain.js"></script>

</body>
</html>
